<md-sidenav-container fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a *ngFor="let item of navItems"
          md-list-item [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" (click)="sidenav.toggle()">
        <md-icon md-list-icon>{{ item.icon }}</md-icon>
        <span md-line>{{ item.title }}</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary" class="md-elevation-z6">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <h3>{{ title }}</h3>
  </md-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
